.footer{
    text-align: center;
    margin: auto;
    max-width: 80%;
    border-top: 1px solid #989898;
    padding: 15px 0px;
    font-size: 13px;
}

.copyright{
    text-align: center;
    margin: auto;
    max-width: 80%;
    padding-bottom: 10px;
    padding-top: 1px;
    font-size: 10px;

}